VITE_SUPABASE_URL=https://caeryvarccoucdxvuarw.supabase.co
VITE_SUPABASE_REST_URL=https://caeryvarccoucdxvuarw.supabase.co/rest/v1/
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pEIxr2BdjBABhFXIn010Aw_6kVVtAtg
